body {
    color: blue;
     
    .app {
        width: 270px;
        margin: 50px auto;
        padding: 20px;        
        border: 1px solid black;
        text-align: center;

        input {
            width: 175px;
        }
        
        table {
            padding-top: 20px;
            width: 270px;

            td:nth-child(1) {
                text-align: left;
            }

            td:nth-child(2) {
                text-align: right;
                width: 100px;
            }

            thead {
                color: black;
            }
        }
    }

}
